#main{
  padding: 0 1rem;
}
#main > div{
  overflow-y: auto;
}

@media (min-width: 767px){
  #main{
    display: grid;
    grid-template-columns: 22ch 1fr;
    grid-template-rows: calc(100vh - 0em);
    align-content: flex-start;
  }
}