.transition-grow{
  display: inline-block;
  max-width: 0px;
  word-wrap: none;
  overflow: hidden;
  transition: max-width .2s ease-in-out;
}
.transition-rotate{
  display: inline-block;
  transform: rotate(-115deg);
  transition: transform .2s ease-in-out;
  font-size: 2rem;
}

#menu:hover .transition-grow{
  max-width: 8ch;
}
#menu:hover .transition-rotate{
  transform: rotate(0);
}

.project-wrapper{
  display: inline-block;
  margin-bottom: 2rem;
}

.project-short-description p{
  display: inline;
}

.project-wrapper:hover h2{
  text-decoration: underline;
}

.project-body-wrapper{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
}

.project-body{
  grid-column: 4 / span 6;
  margin-left: auto;
  margin-right: auto;
}
.project-details{
  grid-column: span 3;
}
.project-body p{
  margin-bottom: 1rem;
}
.project-body img, .iframe-wrapper{
  margin-left: -20%;
  margin-right: -20%;
  max-width: 140%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.iframe-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: calc(1.4 * 56.25%);
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media (min-width:767px){
  .projects-wrapper{
    display: grid;
  }
  .project-main-image, .project-short-description{
    display: none;
  }
  
  .project-wrapper:hover .project-main-image, .project-wrapper:hover .project-short-description{
    display: block;
  }

  .project-main-image, .project-short-description{
    position: absolute;
  }
  .project-main-image{
    pointer-events: none;
    top: 0;
    left: calc(5rem + 3rem);
    max-width: 50vw;
    z-index: 1;
    opacity: .7;
  }

  .project-short-description{
    right: 0;
    top: calc(100% - 2rem);
    z-index: 2;
    max-width: 50ch;
    background: rgba(255, 255, 255, .9);
    padding: .5rem;
  }
  
  .project-wrapper:hover{
    text-decoration: none;
  }
  .project-wrapper:hover h2{
    z-index: 10;
    position: relative;
  }
  
  .projects-wrapper:hover .project-title{
    color: transparent;
  }
  
  .projects-wrapper:hover .project-title:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    border: 2px solid #111;
    width: 5rem;
    z-index: 0;
  }
  
  .project-wrapper:hover .project-title{
    color: #111;
    /* text-shadow: .5px .5px white; */
  }
  .project-wrapper:hover .project-title:before{
    border: none;
  }
}

.project-page .section-title{
  margin-bottom: 0;
}