.project-main-image, .project-short-description{
  display: none;
}

.project-wrapper:hover .project-main-image, .project-wrapper:hover .project-short-description{
  display: block;
}

.project-main-image, .project-short-description{
  position: absolute;
}
.project-main-image{
  pointer-events: none;
  top: 0;
  left: 5rem;
  max-width: 50vw;
  z-index: 1;
  opacity: .7;
}
.project-short-description{
  right: 0;
  top: calc(100% - 2rem);
  z-index: 2;
  max-width: 50ch;
}

.project-wrapper:hover{
  text-decoration: none;
}
.project-wrapper:hover h2{
  z-index: 10;
  position: relative;
}

.projects-wrapper:hover .project-title{
  color: transparent;
}

.projects-wrapper:hover .project-title:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  border: 2px solid #111;
  width: 5rem;
  z-index: 0;
}

.project-wrapper:hover .project-title{
  color: #111;
}
.project-wrapper:hover .project-title:before{
  border: none;
}


.project-page .section-title{
  margin-bottom: 0;
}