@import url('https://fonts.googleapis.com/css?family=Karla|Nunito|Nunito+Sans|Oxygen');

html{
  font-size: 18px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --brand-color: #ED174D;
}
body{
  font-family: Nunito, sans-serif;
  padding-bottom: 80px;
}

a, a:hover{
  text-decoration: none;
  color: var(--brand-color);
}

h1,h2,h3{
  font-weight: normal;
}

h3{
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1rem;
}
p{
  margin-top: 0;
  margin-bottom: 1rem;
}

main a{
  text-decoration: none;
}
main a:hover{
  text-decoration: underline;
}
p:empty{
  display: none;
}

.menu li{
  margin-right: 1rem;
}
.menu li:last-child{
  margin-right: 0;
}
.menu a{
  padding: 0 .5rem;
}
.menu a:before{
  content: '//';
  color: transparent;
}
.menu a:hover:before, .menu a.active:before{
  color: black;
}

.text-red{
  color: var(--brand-color);
}

*{
  box-sizing: border-box;
}
ul, li{
  list-style: none;
}


#intro{
  position: fixed;
  top: 0;
}

#content{

  position: relative;
  z-index: 40;
  margin-top: 100vh;
}

#intro svg{
  height: 100vh;
  width: 100vw;
}

.project-title{
  line-height: .85;
}

.label{
  margin-top: 2rem;
  font-size: .888rem;
}


.menu-fixed{
  transform: translateY(-200%);
}