@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400');

html{
  font-size: 18px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --brand-color: #ED174D;
}
body{
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  color: #111;
}
html, body{
  min-height: 100vh;
}
*{
  box-sizing: border-box;
}
h1, h2, h3{
  font-weight: normal;
}

@media (max-width:767px){
  .container{
    padding: 0 15px;
  }
}
.red{
  --section-color: #FB1130;
}
.colored{
  color: var(--section-color);
}
.green{
  --section-color: #8EFB03;
}
.blue{
  --section-color: #328EFB;
}
.purple{
  --section-color: #ff00c8;
}
.yellow{
  --section-color: #F9E20E;
}
a, a:hover{
  color: var(--section-color);
}
a, a.underline:hover{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

@media (min-width: 767px){
  .col-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}

section{
  margin-bottom: 4rem;
}

.intro-wrapper{
  min-height: calc(100vh - 3rem);
  padding: 4rem 0; 
  display: flex;
  align-items: center;
}
#intro{
  display: grid;
  line-height: 1.50;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: .5rem;
}
#confetti{
    position: absolute;
    z-index: -1;
    bottom: -1rem;
    right: 0;
    pointer-events: none;
}

.profile-pics{
  grid-column: 1 / 4;
  grid-row: 1;
  min-height: 60vh;
}
.profile-text{
  grid-column: 2 / 8;
  grid-row: 1;
}
@media (min-width:768px){
  #intro{
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2rem;
  }
  .profile-pics{
    grid-column: span 4;
  }
  .profile-text{
    grid-column: span 5;
  }
}

.section-title{
  margin-bottom: 2rem;
}
.section-title:before{
  content: '//';
  position: absolute;
  transform: translateX(-100%);
  color: var(--section-color);
}